/*Universal Styles*/
body{
    background: pink;
}

/*Header Styles*/
header {
    background-color: palevioletred;
    color: white;
    text-align: center;
    position: absolute; width: 100%; top: 0px; left: 0px;
}

/*Body Styles*/
main {
    padding-top: 100px;
}

h2 {
    text-align: center;
}

/*Table Styles*/
table {
    margin-left: auto;
    margin-right: auto;
}

table, thead, tbody, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead th {
    background-color:#ff399c;
    opacity: 0.75;
}

th {
    background-color: rgb(255 130 190 / 61%);
}

tr td:nth-child(1),
tr td:nth-child(2) {
    text-align: center;
}

.table-html tr td:nth-child(1) {
    font-family: 'Courier New', Courier, monospace;
}